<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/security
         http://www.springframework.org/schema/security/spring-security-4.1.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://jax-ws.dev.java.net/spring/core
         http://jax-ws.dev.java.net/spring/core.xsd
          http://jax-ws.dev.java.net/spring/servlet
           http://jax-ws.dev.java.net/spring/servlet.xsd">


    <mvc:annotation-driven />
    <mvc:resources mapping="/resources/**" location="/resources/js/"
                   cache-period="31556926"/>


    <tx:annotation-driven />
    <context:annotation-config />
    <context:component-scan base-package="library" />

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="prefix">
            <value>/views/templates/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>



    <jee:jndi-lookup id="wasDataSource"
                     jndi-name="dataSources/postgres"
                     cache="true"
                     resource-ref="true"
                     lookup-on-startup="false"
                     proxy-interface="javax.sql.DataSource"/>

    <bean id="entityManagerFactory" name="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:META-INF/unit.xml" />
        <property name="dataSource" ref="wasDataSource" />
        <property name="persistenceUnitName" value="libraryPU"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="false"/>
                <!--   <property name="generateDdl" value="true"/> -->
                <property name="databasePlatform" value="org.hibernate.dialect.PostgreSQL81Dialect"/>
            </bean>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>



    <jee:jndi-lookup id="wasUserRegsitry"
                     jndi-name="UserRegistry"
                     cache="true"
                     resource-ref="true"
                     lookup-on-startup="false"
                     proxy-interface="com.ibm.websphere.security.UserRegistry"/>

    <bean id="authenticationEntryPoint" class="library.config.CustomAuthenticationEntryPoint" />

    <bean id="authenticationProvider" class="library.config.CustomAuthenticationProvider" >
    </bean>

    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider ref="authenticationProvider" />
    </sec:authentication-manager>

    <!-- <bean id="ldapUserDetailsService"
          class="library.config.CustomLdapUserDetailsService" >
    </bean> -->


    <bean id="securityFilter" class="library.config.AuthenticationTokenProcessingFilter">
        <property name="authenticationManager" ref="authenticationManager" />
        <property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
    </bean>
 <wss:binding url="/ws">
        <wss:service>
            <ws:service bean="#authService"/>
        </wss:service>
    </wss:binding>

    <!-- Web service methods -->
    <bean id="authService" class="library.services.AuthenticationServiceImpl">
    </bean>

</beans>

